<!DOCTYPE html>
<html lang="en">

<!--Head-->

<head>
    <meta charset="UTF-8" name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="/images/favicon.png" alt="Favicon">
    <title>Patient Not Found</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/404.css">
    <link rel="stylesheet" href="/css/navigation.css">
</head>

<!--Body-->

<body>

    <!--Navigation Menu-->
    <header>
        <nav id="navmenu">
            <!--Navigation JavaScript file-->
            <script type="module" src="/js/navigation.js"></script>
        </nav>

    </header>

    <br><br><br><br>
    <center>
        <div id="fourOhFourBox">
            <center><img src="../images/404nicepng.png" alt="404 Page Icon" width="125" height="125"></center>
            <h1>Uh-oh...</h1>
            <p>It seems like you found the patient.</p>
            <p>Seems like something escaped from us, didn't it?</p>
            <!-- update these to routes -->
            <p class="small-text">Have An Account? <a href="login" aria-label="Login">Login</a></p>
            <p class="small-text">Don't Have An Account? <a href="create-account" aria-label="Create Account">Create Account</a></p>
        </div>
    </center>

    <script type="module" src="/js/global.js"></script>
    <script type="module" src="/js/navigation.js"></script>
    <script type="module" src="/js/login.js"></script>


</body>


<!--Footer-->
<footer>
    <center>
        <br><br>
        <b>(C) 2025 Patient Not Found</b><br>
        Collaborators: Patrick Daileg, Joanna Picciano, Alondra Trejo-Palma, Samuel Wu<br>
        Please note that the AI may make mistakes (like us humans.)<br>

    </center>
</footer>


</html>