<!DOCTYPE html>
<html lang="en">

<!--Head-->

<head>
    <meta charset="UTF-8" name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


    <link rel="icon" href="/images/favicon.png" alt="Favicon">
    <title>Patient Not Found</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navigation.css">
</head>

<!--Body-->

<body>

    <!--Navigation Menu-->
    <header>
        <nav id="navmenu">
            <!--Navigation JavaScript file-->
            <script type="module" src="/js/navigation.js"></script>
        </nav>

    </header>


    <center>
        <div id="adminBox">
            <section id="admin-dashboard">
                <h1>Admin Dashboard</h1>
                <table id="audit-table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>User</th>
                            <th>Type</th>
                            <th>Message</th>
                            <th>Path/Context</th>
                        </tr>
                    </thead>
                    <tbody id="audit-table-body">
                    </tbody>
                </table>
            </section>
        </div>

        <script type="module" src="/js/global.js"></script>
        <script type="module" src="/js/navigation.js"></script>
        <script type="module" src="/js/admin-dashboard.js"></script>

    </center>



</body>


<!--Footer-->
<footer>
    <center>
        <br><br>
        <b>(C) 2025 Patient Not Found</b>
    </center>

</footer>


</html>