<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="icon" href="/images/favicon.png" alt="Favicon">
    <title>Patient Not Found</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/navigation.css">
</head>

<body>

    <!-- Navigation (built by navigation.js because user is authenticated) -->
    <header>
        <nav id="navmenu"></nav>
    </header>
    <center>
        <br><br>
        <h1>Feedback Page</h1>

        <!-- Paste the Google Form embed code here -->
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSeGiaf0uPO41E9OG7T8poCQAplRSjgWAmeSJLyuQvD5JpXP_w/viewform?embedded=true"
            width="640" height="554" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>


        <!-- Scripts -->
        <script type="module" src="/js/global.js"></script>
        <script type="module" src="/js/navigation.js"></script>
        <script type="module" src="/js/home.js"></script>

    </center>

</body>

<footer>
    <center>
        <br><br>
        <b>(C) 2025 Patient Not Found</b>
    </center>
</footer>

</html>