<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="icon" href="/images/favicon.png" alt="Favicon">
    <title>Patient Not Found</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="/css/navigation.css">
</head>

<body>

    <!--Navigation Menu-->
    <header>
        <nav id="navmenu">
            <img src="/images/PNF2.png" alt="Patient Not Found Logo" width="50" height="50">
            <b>Patient Not Found</b>
        </nav>
    </header>

    <!-- MAIN LANDING CONTENT -->
    <center>
        <h1 class="landing-title">PATIENT NOT FOUND</h1>
        <main class="landing-container">
            <div id="landingBox">
                <section class="landing-content">

                    <h2 class="landing-subtitle">A Smarter Way to Document</h2>

                    <p class="landing-description">
                        Patient Not Found (PNF) is a secure, HIPAA-aligned clinical documentation tool
                        designed to simplify and accelerate medical summaries using AI-assisted workflows.
                    </p>

                    <button class="landing-btn" onclick="location.href='/login'" alt="Login Button" aria-label="Login">
                        Login
                    </button>
                    <h3><b>OR</b></h3>

                    <button class="create-account-btn" onclick="location.href='/create-account'" alt=" Create Account Button" aria-label="Create Account">
                        Create Account
                    </button>
                </section>

            </div>
        </main>
    </center>


    <script type="module" src="/js/global.js"></script>
    <!--<script type="module" src="/js/home.js"></script>-->

</body>

<footer>
    <center><br><br>
        <b>(C) 2025 Patient Not Found</b>
    </center>
</footer>

</html>