<!DOCTYPE html>
<html lang="en">

<!--Head-->

<head>
    <meta charset="UTF-8" name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="/images/favicon.png" alt="Favicon">
    <title>Patient Not Found</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/password.css">
    <link rel="stylesheet" href="/css/navigation.css">
</head>

<!--Body-->

<body>

    <!--Navigation Menu-->
    <header>
        <nav id="navmenu">
            <!--Navigation JavaScript file-->
            <script type="module" src="/js/navigation.js"></script>

        </nav>

    </header>

    <main id="passwordContainer">
        <div id="passwordBox">
            <h1>Reset Password</h1>
            <form onsubmit="event.preventDefault(); alertUser();">
                <label for="userName">USERNAME:</label>
                <input type="text" id="userName" placeholder="Enter Username">

                <label for="newPassword">NEW PASSWORD:</label>
                <input type="text" id="newPassword" placeholder="Enter New Password">

                <label for="cNewPassword">CONFIRM NEW PASSWORD:</label>
                <input type="password" id="cNewPassword" placeholder="Confirm Password">

                <button id="password-button">Create New Password</button>
            </form>

        </div>

    </main>


    <script type="module" src="/js/global.js"></script>
    <script type="module" src="/js/navigation.js"></script>
    <script type="module" src="/js/password.js"></script>

</body>


<!--Footer-->
<footer>
    <center>
        <br><br>
        <b>(C) 2025 Patient Not Found</b><br>
        Collaborators: Patrick Daileg, Joanna Picciano, Alondra Trejo-Palma, Samuel Wu<br>
        Please note that the AI may make mistakes (like us humans.)<br>

    </center>
</footer>


</html>